In [ ]:
import pandas as pd
abalone_train = pd.read_csv(
    "https://storage.googleapis.com/download.tensorflow.org/data/abalone_train.csv",
    names=["Length", "Diameter", "Height", "Whole weight", "Shucked weight",
           "Viscera weight", "Shell weight", "Age"])

In [ ]:
abalone_train.shape

(3320, 8)

In [ ]:
abalone_train.head()

   Length  Diameter  Height  ...  Viscera weight  Shell weight  Age
0   0.435     0.335   0.110  ...          0.0775        0.0965    7
1   0.585     0.450   0.125  ...          0.2075        0.2250    6
2   0.655     0.510   0.160  ...          0.2825        0.3700   14
3   0.545     0.425   0.125  ...          0.1495        0.2600   16
4   0.545     0.420   0.130  ...          0.1695        0.2300   13

[5 rows x 8 columns]

In [ ]:
abalone_train.Length

0       0.435
1       0.585
2       0.655
3       0.545
4       0.545
        ...
3315    0.605
3316    0.700
3317    0.530
3318    0.395
3319    0.450
Name: Length, Length: 3320, dtype: float64

In [ ]:
abalone_train.Length[0]

0.435

In [ ]:
abalone_train['Length'][0]

0.435

In [ ]:
abalone_train.iloc[0]

Length            0.4350
Diameter          0.3350
Height            0.1100
Whole weight      0.3340
Shucked weight    0.1355
Viscera weight    0.0775
Shell weight      0.0965
Age               7.0000
Name: 0, dtype: float64

In [ ]:
abalone_train.iloc[1]

Length            0.5850
Diameter          0.4500
Height            0.1250
Whole weight      0.8740
Shucked weight    0.3545
Viscera weight    0.2075
Shell weight      0.2250
Age               6.0000
Name: 1, dtype: float64

In [ ]:
abalone_train.iloc[:,0]

0       0.435
1       0.585
2       0.655
3       0.545
4       0.545
        ...
3315    0.605
3316    0.700
3317    0.530
3318    0.395
3319    0.450
Name: Length, Length: 3320, dtype: float64

In [ ]:
abalone_train.iloc[0,:]

Length            0.4350
Diameter          0.3350
Height            0.1100
Whole weight      0.3340
Shucked weight    0.1355
Viscera weight    0.0775
Shell weight      0.0965
Age               7.0000
Name: 0, dtype: float64

In [ ]:
abalone_train.iloc[:3,0]

0    0.435
1    0.585
2    0.655
Name: Length, dtype: float64

In [ ]:
abalone_train.iloc[[0,1,2], [0,1,2]]

   Length  Diameter  Height
0   0.435     0.335   0.110
1   0.585     0.450   0.125
2   0.655     0.510   0.160

In [ ]:
abalone_train.iloc[-5:]

      Length  Diameter  Height  ...  Viscera weight  Shell weight  Age
3315   0.605     0.475   0.180  ...          0.2190        0.2950   15
3316   0.700     0.525   0.190  ...          0.3650        0.4300   10
3317   0.530     0.420   0.130  ...          0.1670        0.2490   11
3318   0.395     0.315   0.105  ...          0.0910        0.1195   16
3319   0.450     0.355   0.120  ...          0.0665        0.1600   19

[5 rows x 8 columns]

In [ ]:
abalone_train.loc[0,'Length']

0.435

In [ ]:
abalone_train.loc[:,['Length','Diameter', 'Age']]

      Length  Diameter  Age
0      0.435     0.335    7
1      0.585     0.450    6
2      0.655     0.510   14
3      0.545     0.425   16
4      0.545     0.420   13
...      ...       ...  ...
3315   0.605     0.475   15
3316   0.700     0.525   10
3317   0.530     0.420   11
3318   0.395     0.315   16
3319   0.450     0.355   19

[3320 rows x 3 columns]

In [ ]:
abalone_train.iloc[:,[0,1,7]]

      Length  Diameter  Age
0      0.435     0.335    7
1      0.585     0.450    6
2      0.655     0.510   14
3      0.545     0.425   16
4      0.545     0.420   13
...      ...       ...  ...
3315   0.605     0.475   15
3316   0.700     0.525   10
3317   0.530     0.420   11
3318   0.395     0.315   16
3319   0.450     0.355   19

[3320 rows x 3 columns]

In [ ]:
abalone_train.head()

   Length  Diameter  Height  ...  Viscera weight  Shell weight  Age
0   0.435     0.335   0.110  ...          0.0775        0.0965    7
1   0.585     0.450   0.125  ...          0.2075        0.2250    6
2   0.655     0.510   0.160  ...          0.2825        0.3700   14
3   0.545     0.425   0.125  ...          0.1495        0.2600   16
4   0.545     0.420   0.130  ...          0.1695        0.2300   13

[5 rows x 8 columns]

In [ ]:
abalone_train.set_index('Length')

        Diameter  Height  Whole weight  ...  Viscera weight  Shell weight  Age
Length                                  ...
0.435      0.335   0.110        0.3340  ...          0.0775        0.0965    7
0.585      0.450   0.125        0.8740  ...          0.2075        0.2250    6
0.655      0.510   0.160        1.0920  ...          0.2825        0.3700   14
0.545      0.425   0.125        0.7680  ...          0.1495        0.2600   16
0.545      0.420   0.130        0.8790  ...          0.1695        0.2300   13
...          ...     ...           ...  ...             ...           ...  ...
0.605      0.475   0.180        0.9365  ...          0.2190        0.2950   15
0.700      0.525   0.190        1.6015  ...          0.3650        0.4300   10
0.530      0.420   0.130        0.8365  ...          0.1670        0.2490   11
0.395      0.315   0.105        0.3515  ...          0.0910        0.1195   16
0.450      0.355   0.120        0.4120  ...          0.0665        0.1600   19

[3320 rows x 7 columns]

In [ ]:
abalone_train.reset_index()

      index  Length  Diameter  ...  Viscera weight  Shell weight  Age
0         0   0.435     0.335  ...          0.0775        0.0965    7
1         1   0.585     0.450  ...          0.2075        0.2250    6
2         2   0.655     0.510  ...          0.2825        0.3700   14
3         3   0.545     0.425  ...          0.1495        0.2600   16
4         4   0.545     0.420  ...          0.1695        0.2300   13
...     ...     ...       ...  ...             ...           ...  ...
3315   3315   0.605     0.475  ...          0.2190        0.2950   15
3316   3316   0.700     0.525  ...          0.3650        0.4300   10
3317   3317   0.530     0.420  ...          0.1670        0.2490   11
3318   3318   0.395     0.315  ...          0.0910        0.1195   16
3319   3319   0.450     0.355  ...          0.0665        0.1600   19

[3320 rows x 9 columns]

In [ ]:
abalone_train.Length == 0.435

0        True
1       False
2       False
3       False
4       False
        ...
3315    False
3316    False
3317    False
3318    False
3319    False
Name: Length, Length: 3320, dtype: bool

In [ ]:
abalone_train.loc[abalone_train.Length == 0.435]

      Length  Diameter  Height  ...  Viscera weight  Shell weight  Age
0      0.435     0.335   0.110  ...          0.0775        0.0965    7
22     0.435     0.350   0.110  ...          0.1005        0.1250   13
175    0.435     0.330   0.095  ...          0.0750        0.0885    6
264    0.435     0.320   0.120  ...          0.0915        0.1250   11
316    0.435     0.340   0.115  ...          0.0780        0.1145    6
408    0.435     0.345   0.120  ...          0.0560        0.1185    7
412    0.435     0.335   0.110  ...          0.0945        0.1000    7
623    0.435     0.345   0.120  ...          0.1120        0.1250    7
754    0.435     0.330   0.105  ...          0.0555        0.1050    8
864    0.435     0.335   0.100  ...          0.0785        0.0980    7
904    0.435     0.300   0.120  ...          0.1390        0.1645    8
1082   0.435     0.325   0.100  ...          0.0725        0.1090    7
1091   0.435     0.335   0.100  ...          0.0700        0.1100    7
1241   0.435     0.340   0.110  ...          0.0730        0.1300   10
1352   0.435     0.325   0.110  ...          0.0800        0.1050    6
1417   0.435     0.350   0.125  ...          0.1145        0.1450    9
1494   0.435     0.325   0.110  ...          0.0985        0.1550    7
1605   0.435     0.320   0.080  ...          0.0635        0.1050    9
1814   0.435     0.340   0.110  ...          0.0850        0.1200    8
1934   0.435     0.335   0.110  ...          0.0675        0.1350   12
2108   0.435     0.340   0.120  ...          0.0810        0.1250    8
2116   0.435     0.330   0.110  ...          0.0960        0.0960    6
2228   0.435     0.355   0.125  ...          0.0740        0.1650    9
2266   0.435     0.350   0.120  ...          0.1000        0.1300   11
2331   0.435     0.375   0.110  ...          0.0760        0.1450    8
2583   0.435     0.325   0.105  ...          0.0650        0.1150    8
2648   0.435     0.335   0.110  ...          0.0860        0.1100    9
2764   0.435     0.330   0.110  ...          0.0945        0.1100    7
3032   0.435     0.335   0.095  ...          0.0580        0.1150    7
3059   0.435     0.335   0.105  ...          0.0500        0.1135    7
3086   0.435     0.325   0.120  ...          0.0840        0.0950    7

[31 rows x 8 columns]

In [ ]:
abalone_train.loc[(abalone_train.Length == 0.435) & (abalone_train.Height == 0.110)]

      Length  Diameter  Height  ...  Viscera weight  Shell weight  Age
0      0.435     0.335    0.11  ...          0.0775        0.0965    7
22     0.435     0.350    0.11  ...          0.1005        0.1250   13
412    0.435     0.335    0.11  ...          0.0945        0.1000    7
1241   0.435     0.340    0.11  ...          0.0730        0.1300   10
1352   0.435     0.325    0.11  ...          0.0800        0.1050    6
1494   0.435     0.325    0.11  ...          0.0985        0.1550    7
1814   0.435     0.340    0.11  ...          0.0850        0.1200    8
1934   0.435     0.335    0.11  ...          0.0675        0.1350   12
2116   0.435     0.330    0.11  ...          0.0960        0.0960    6
2331   0.435     0.375    0.11  ...          0.0760        0.1450    8
2648   0.435     0.335    0.11  ...          0.0860        0.1100    9
2764   0.435     0.330    0.11  ...          0.0945        0.1100    7

[12 rows x 8 columns]

In [ ]:
abalone_train.loc[(abalone_train.Length == 0.435) | (abalone_train.Height == 0.110)]

      Length  Diameter  Height  ...  Viscera weight  Shell weight  Age
0      0.435     0.335   0.110  ...          0.0775        0.0965    7
22     0.435     0.350   0.110  ...          0.1005        0.1250   13
124    0.370     0.280   0.110  ...          0.0465        0.0750   10
160    0.415     0.310   0.110  ...          0.0570        0.0995   10
175    0.435     0.330   0.095  ...          0.0750        0.0885    6
...      ...       ...     ...  ...             ...           ...  ...
3086   0.435     0.325   0.120  ...          0.0840        0.0950    7
3108   0.425     0.325   0.110  ...          0.0920        0.1065    8
3131   0.540     0.415   0.110  ...          0.1500        0.1765   10
3160   0.420     0.315   0.110  ...          0.0830        0.1015    8
3161   0.415     0.325   0.110  ...          0.0795        0.0925    8

[126 rows x 8 columns]

In [ ]:
abalone_train.loc[abalone_train.Length.isin([0.435, 0.370])]

      Length  Diameter  Height  ...  Viscera weight  Shell weight  Age
0      0.435     0.335   0.110  ...          0.0775        0.0965    7
22     0.435     0.350   0.110  ...          0.1005        0.1250   13
62     0.370     0.275   0.100  ...          0.0505        0.0680    5
106    0.370     0.275   0.085  ...          0.0560        0.0800    6
122    0.370     0.285   0.100  ...          0.0675        0.0810   10
...      ...       ...     ...  ...             ...           ...  ...
3057   0.370     0.280   0.105  ...          0.0575        0.0750    8
3059   0.435     0.335   0.105  ...          0.0500        0.1135    7
3083   0.370     0.280   0.105  ...          0.0585        0.0750    9
3086   0.435     0.325   0.120  ...          0.0840        0.0950    7
3238   0.370     0.285   0.095  ...          0.0515        0.0675    8

[61 rows x 8 columns]

In [ ]:
abalone_train.loc[abalone_train.Length.notnull()]

      Length  Diameter  Height  ...  Viscera weight  Shell weight  Age
0      0.435     0.335   0.110  ...          0.0775        0.0965    7
1      0.585     0.450   0.125  ...          0.2075        0.2250    6
2      0.655     0.510   0.160  ...          0.2825        0.3700   14
3      0.545     0.425   0.125  ...          0.1495        0.2600   16
4      0.545     0.420   0.130  ...          0.1695        0.2300   13
...      ...       ...     ...  ...             ...           ...  ...
3315   0.605     0.475   0.180  ...          0.2190        0.2950   15
3316   0.700     0.525   0.190  ...          0.3650        0.4300   10
3317   0.530     0.420   0.130  ...          0.1670        0.2490   11
3318   0.395     0.315   0.105  ...          0.0910        0.1195   16
3319   0.450     0.355   0.120  ...          0.0665        0.1600   19

[3320 rows x 8 columns]

In [ ]:
abalone_train['Length'] = 0.435

In [ ]:
abalone_train.Length

0       0.435
1       0.435
2       0.435
3       0.435
4       0.435
        ...
3315    0.435
3316    0.435
3317    0.435
3318    0.435
3319    0.435
Name: Length, Length: 3320, dtype: float64

In [ ]:
abalone_train.describe()

             Length     Diameter  ...  Shell weight          Age
count  3.320000e+03  3320.000000  ...   3320.000000  3320.000000
mean   4.350000e-01     0.406575  ...      0.237921     9.896988
std    3.442210e-14     0.100120  ...      0.140261     3.205654
min    4.350000e-01     0.055000  ...      0.001500     1.000000
25%    4.350000e-01     0.345000  ...      0.127375     8.000000
50%    4.350000e-01     0.425000  ...      0.230000     9.000000
75%    4.350000e-01     0.480000  ...      0.325000    11.000000
max    4.350000e-01     0.650000  ...      1.005000    27.000000

[8 rows x 8 columns]

In [ ]:
abalone_train.Length.describe()

count    3.320000e+03
mean     4.350000e-01
std      3.442210e-14
min      4.350000e-01
25%      4.350000e-01
50%      4.350000e-01
75%      4.350000e-01
max      4.350000e-01
Name: Length, dtype: float64

In [ ]:
abalone_train.Length.mean()

0.4349999999999656